Icon
.DS_Store
/.editorconfig
/CHANGELOG.md
/package-lock.json
/composer.lock
/node_modules
/vendor
/src/scss/.gitignore
/src/scss/README.md
/www/assets
/www/kirby
/www/media
/www/site/cache
/www/site/accounts
/www/site/sessions
/www/site/config/.license
/www/content/**/*.pdf
/www/content/**/*.mp4
/www/content/**/*.jpg
/www/content/**/*.jpeg
/www/content/**/*.png
/www/content/**/*.zip
pnpm-lock.yaml