// // INITIATE MARGINS AND PADDING

@mixin property($property, $values) {
  $top: $property + "-top";
  $bottom: $property + "-bottom";
  $right: $property + "-right";
  $left: $property + "-left";

  @if length($values) == 1 {
    #{$top}: nth($values, 1) * $base-space;
    #{$bottom}: nth($values, 1) * $base-space;
    #{$right}: nth($values, 1) * $base-space;
    #{$left}: nth($values, 1) * $base-space;
  } @else if length($values) == 2 {
    #{$top}: nth($values, 1) * $base-space;
    #{$bottom}: nth($values, 1) * $base-space;
    #{$right}: nth($values, 2) * $base-space;
    #{$left}: nth($values, 2) * $base-space;
  } @else if length($values) == 3 {
    #{$top}: nth($values, 1) * $base-space;
    #{$bottom}: nth($values, 3) * $base-space;
    #{$right}: nth($values, 2) * $base-space;
    #{$left}: nth($values, 2) * $base-space;
  } @else if length($values) == 4 {
    #{$top}: nth($values, 1) * $base-space;
    #{$bottom}: nth($values, 3) * $base-space;
    #{$right}: nth($values, 2) * $base-space;
    #{$left}: nth($values, 4) * $base-space;
  }
}

@mixin padding($values) {
  @include property(padding, $values);
}

@mixin margin($values) {
  @include property(margin, $values);
}
