// GLOBAL SCSS

// IMPORT LIBRARIES
@import "_base/_lib/_normalize.scss";     // Normalize.css - CSS Reset

//IMPORT CONFIG
@import "config";                   // Initial values

// IMPORT PARTIALS
@import "_base/_partials/_mediaqueries";  // Initiate mediaqueries
@import "_base/_partials/_base";          // Initiate basic elements
@import "_base/_partials/_fonts";         // Initiate fonts
@import "_base/_partials/_grid";          // Initiate grid
@import "_base/_partials/_margins";       // Initiate margins and padding
@import "_base/_partials/_type";          // Initiate type

// IMPORT MODULES
// Add here the scss files for the website
