// CONFIGURATE DOCUMENT

// FONT SIZES

$text-default-px:                           16;       // Default font-size in px (default: 16px)
$line-height-default:                       1.25;     // Default line-height, relative to default font-size (default: 1.25)

// Viewport values
$is-global-viewport-text:                   true;     // true for font-size globally defined in vw, false for font-size globally defined in px
$viewport-width-px:                         1280;     // Screen size used for calculating font-size in vw (like http://emilolsson.com/tools/vw-unit-calc-an-online-responsive-css-font-size-calculator/)

// Font sizes - can be any unit
$text-xxs:                                  0.5rem;   // (default: 0.5rem)  -- small
$text-xs:                                   0.75rem;  // (default: 0.75rem) -- h6
$text-sm:                                   1.0rem;   // (default: 1.0rem)  -- h5
$text-md:                                   1.5rem;   // (default: 1.5rem)  -- h4
$text-lg:                                   2.0rem;   // (default: 2.0rem)  -- h3
$text-xl:                                   3.0rem;   // (default: 3.0rem)  -- h2
$text-xxl:                                  6.0rem;   // (default: 6.0rem)  -- h1

// Line height - realtive to font-size
$line-xxs:                                  1.0;      // (default: 1.0)
$line-xs:                                   1.125;    // (default: 1.125)
$line-sm:                                   1.25;     // (default: 1.25)
$line-md:                                   1.375;    // (default: 1.375)
$line-lg:                                   1.5;      // (default: 1.5)
$line-xl:                                   2.0;      // (default: 2.0)
$line-xxl:                                  3.0;      // (default: 3.0)

// __________________________________________________________ //

// FONTS

$primary-font-family:                       '';
$primary-font-url:                          '';       // Without extension
$primary-fallback:                          'Times New Roman', Times, serif;
$secondary-font-family:                     '';
$secondary-font-url:                        '';       // Without extension
$secondary-fallback:                        Garamond, 'Hoefler Text', 'Times New Roman', Times, serif;
$tertiary-font-family:                      '';
$tertiary-font-url:                         '';       // Without extension
$tertiary-fallback:                         'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

/*
Fallbacks examples
 - 'Times New Roman', Times, serif
 - Garamond, 'Hoefler Text', 'Times New Roman', Times, serif
 - 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
 - 'Courier New', Courier, monospace
*/

// __________________________________________________________ //

// LAYOUT

$number-of-columns:                         12;       // Number of columns

// Base margin, padding and absolute positioning size
$is-global-viewport-sizes:                  false;    // true for sizes globally defined relatively to default line-height, false for sizes globally defined in px
$base-space:                                10px;     // Initial space in px or relative to default line-height (default: 10px)

// __________________________________________________________ //

// COLORS

$text-color:                                black;    // Text color
$link-color:                                blue;     // Link color
$hover-color:                               red;      // Hover color

$primary-color:                             black;    // Color 1
$secondary-color:                           black;    // Color 2
$tertiary-color:                            black;    // Color 3
$background-color:                          white;    // Background color

// __________________________________________________________ //

// TRANSITION

$base-transition-selector:                  all;
$base-transition-speed:                     .3s;
$base-transition-type:                      ease-in-out;

// __________________________________________________________ //

// BREAKPOINTS

$screen-xs:                                 0px;        // (default: 0px)
$screen-sm:                                 576px;      // (default: 576px)
$screen-md:                                 1000px;     // (default: 1000px)
$screen-lg:                                 1200px;     // (default: 1200px)
$screen-xl:                                 1500px;     // (default: 1500px)
$screen-xxl:                                1800px;     // (default: 1800px)

// __________________________________________________________ //

// FREE CONFIG